 <ion-view  hide-nav-bar="true" id="choose-profile-view" cache-view="false">
<ion-content>        
    <div class="row">
        <div class="col">
            <p>
                {{"choose_profile_message" | translate}}
            </p>
        </div>         
    </div>
    <div class="row row-center">
        <div class="col">
            <button class="button button-block button-royal"  ui-sref="tabs.fleekservicecategory">
                {{"choose_profile_customer" | translate}}
            </button>
            </div>
        </div>
        <div class="row row-center">
        <div class="col">
            <button class="button button-block button-royal" ui-sref='tabsprovider.profile'>
                {{"choose_profile_provider" | translate}}
            </button>
            </div>
        </div> 

</ion-content>
</ion-view>   