<ion-view id="fleek-service-category-view" hide-back-button ="true" >
  
<ion-nav-title>
      Fleek
    </ion-nav-title>
          
<ion-content class="has-header" >

 <ion-list>
       <ion-item id ="item" ng-style="{'background-image': 'url({{ getImage(serviceCategory.pictureUrl) }})'}" ng-repeat="serviceCategory in serviceCategoryList" ui-sref="tabs.fleekservicelist({serviceListId :serviceCategory.id })"  >
        {{serviceCategory.name}}
     </ion-item>
    </ion-list>
</ion-content>
</ion-view>   