<ion-view id="home-view"  >

    <ion-header-bar class="bar-dark">
Fleek
</ion-header-bar>
         
<ion-content class="has-header padding">
    <ion-content style="background:grey;">        
     
    <div class="row row-top" >
         <div class="col col-75">
             
<img id="imgfriends" src="img/app/home/friends.jpg"  alt="" />
        </div>
        <div class="col">
<img id="imgfeed" src="img/app/home/feed.jpg"  alt="" />

        </div>
         
    </div>
    <div class="row row-center">
        <div class="col">
 <img id="imgreserved" src="img/app/home/reserved.jpg"  alt="" />

        </div>
        <div class="col col-75">
  <img id="imgneworder" src="img/app/home/neworder.jpg" ng-click="goTo('fleekservicecategory')"  alt="" />

            
        </div>
        
    </div>
        <div class="row row-bottom">
        <div class="col col-75">
         <img id="imgfavorite" src="img/app/home/favorite.jpg"  alt="" />

        </div>
        <div class="col">
        <img id="imgsettings" src="img/app/home/settings.jpg"  alt="" />

        </div>
    
    </div>
    
</ion-content>
    <ion-footer-bar class="bar-dark">
    </ion-footer-bar>
</ion-view>   