<ion-view view-title="Fleek" id="profile-view">
<ion-header>    
</ion-header>    
    <ion-content>     
        <div class="global-profile-background">
        <div class="row global-row-profile-height-title">
            <div class="col">
                 <img ng-src="{{loadProfileImage();}}" class="global-profile-avatar">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row global-row-center">
            <div class="col">
        <rating ng-model="rate" rate="data.rating" max="5" readonly="true"></rating>
            </div>
        </div><div class="row global-row-center">
            <div class="col">
                  <p class="global-profile-black-panel">
        {{data.name +" " +data.lastname }}
                </p>
                {{data.username}}
            </div>
        </div>
        
            </div>
        </div>
        </div>
         <div class="row" >
            <div class="col">
           <p>Telefono</p>
            </div>
        </div>
        <div class="row" >
            <div class="col">
           <p>Clientes Atendidos</p>
            </div>
        </div>
    
       
     </ion-content>
</ion-view>