<ion-view view-title="Fleek" id="provider-selection-view" >  
    <ion-content>
        <div style="background-image:url('../img/app/background.jpg');text-align:center;color:white;">
        <div class="row" style="height:150px">
            <div class="col">
              <img  facebook-usr-src="{{reservation.provider.user.facebookId}}"  class="global-profile-avatar"  />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row global-row-center">
            <div class="col">
         <rating ng-model="reservation.provider.rating"  max="max"></rating>
            </div>
        </div><div class="row global-row-center">
            <div class="col">
              <p style="background:black;">
         {{reservation.provider.user.name + " " + reservation.provider.user.lastname }}
                </p>
                {{reservation.provider.user.username}}
            </div>
        </div>
            </div>
        </div>
        </div>    
 <ion-slide-box show-pager="false" ng-init="lockSlide()">
     <ion-slide>
    <div class="row  global-row-center">
        <div class="col">
            
                <h4>
              {{"providerSelection_title" | translate}}</h4>
            
            <p>
            <b> {{"providerSelection_price" | translate}}</b>
            
              {{"$"+reservation.selectedService.price + " " + reservation.selectedService.currencyCode }}
            </p>
            <p>
            <b>{{"providerSelection_date" | translate}}</b>
           
               {{formatDate(reservation.selectedDate.day.date)}}
            </p>
            <p>
            <b>{{"providerSelection_time" | translate}}</b>
            
             {{reservation.selectedDate.time.from}}
            </p>
            <p>
            <b>{{"providerSelection_place" | translate}}
            </b>
             {{reservation.provider.address}}
            </p>
              <div class="button-bar bar-dark">
  <a class="button" ng-click="nextSlide()">{{"providerSelection_save" | translate}}</a>

</div>
        </div>         
    </div>
    </ion-slide>
       <ion-slide>
    <div class="row global-row-center">
        <div class="col">
            <p>
             {{"providerSelection_thanks" | translate}}
            </p>
            <p>
             {{"providerSelection_doubts" | translate}}
                
            </p>
            <p>
             {{reservation.provider.telephone}}
            
            </p>
             <button class="button button-block button-royal" ng-click="goToFirstTab()">
             {{"providerSelection_ready" | translate}}
            </button>
        </div>         
    </div>
    </ion-slide>
    </ion-slide-box>
        
    </ion-content>

</ion-view>