<ion-view id="provider-settings-schedule-view" >
<ion-nav-title>
      Fleek
</ion-nav-title>          
<ion-content >
 <ion-list>
       <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :0,name: '{{'providerSettingsSchedule_monday' | translate}}' }}})"  >
           <i>   {{"providerSettingsSchedule_monday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :1,name: '{{'providerSettingsSchedule_tuesday' | translate}}'}}})"  >
             <i>   {{"providerSettingsSchedule_tuesday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :2 ,name: '{{'providerSettingsSchedule_wednesday' | translate}}' }}})"  >
             <i>   {{"providerSettingsSchedule_wednesday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :3 ,name: '{{'providerSettingsSchedule_thursday' | translate}}'}}})"  >
            <i>   {{"providerSettingsSchedule_thursday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :4 ,name: '{{'providerSettingsSchedule_friday' | translate}}'}}})"  >
           <i>   {{"providerSettingsSchedule_friday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule,day:{day :5 ,name: '{{'providerSettingsSchedule_saturday' | translate}}'}}})"  >
           <i>   {{"providerSettingsSchedule_saturday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
      <a id ="item" class="item item-icon-right" ui-sref="tabs.providersettingsscheduledetail({scheduleDay:{schedule: schedule ,day:{day :6 ,name: '{{'providerSettingsSchedule_sunday' | translate}}'}}})"  >
     <i>   {{"providerSettingsSchedule_sunday" | translate}}</i>
               <i class="icon ion-chevron-right"></i>
     </a>
  
    </ion-list>
</ion-content>
</ion-view>   