<ion-view id="provider-reservation-view" view-title="Provider" >
<ion-header-bar class="bar-dark">
Fleek
</ion-header-bar> 
    
<ion-content class="has-header padding">
<ion-refresher
    pulling-text= '{{"global_pull_refresh" | translate}}'
    on-refresh="refresh()">
</ion-refresher>    
<a class="item" ng-repeat="item in providers" ng-click="goTo('tabs.providerreservationinformation',item)" class="global-paddin-zero">
<div class="row">
<div class="col">
<img  facebook-usr-src="{{item.provider.facebookId}}"  class="global-provider-avatar"  />
</div>
<div class="col col-50">
<h2>{{item.customer.name + " "+item.customer.lastname  }}</h2>
<p>{{item.customer.username}}</p>
</div>
<div class="col">
    <p>Cita el:</p>
    <p>{{formatDate(item.date)}}</p>
    <p>{{item.startTime}}<p>
   <u href="url">Ver mas</u>   
</div>
</div>
<br/>
<div class="row global-row-content-black-white">
<div class="col global-col-center">
{{item.address}}
  </div>
</div>         
</a>
<ion-infinite-scroll
    on-infinite="infinitive()"
    distance="10%"
    ng-if="!stopRequest">
</ion-infinite-scroll>        
</ion-content>       
</ion-view>   