<ion-view view-title="Fleek"  id="provider-setttings-service-list-view"  >

<ion-nav-buttons side="right">
<button class="button  icon ion-ios-plus-outline" ng-click="openModal()">        
</button>
</ion-nav-buttons>    
<ion-content class="has-header">
 <ion-list      can-swipe="true">
     
<ion-item  ng-repeat="schedule in scheduleList" ng-click="openModal(schedule);">
  <i>  {{formatTime(schedule.startTime)}} - {{formatTime(schedule.endTime)}}</i>
       
    <ion-option-button class="button-assertive" ng-click="showDeleteConfirm(schedule)">
        {{"providerSettingsServiceList_deactivate" | translate}}
    </ion-option-button>
</ion-item>
</ion-list>
</ion-content>       
</ion-view>   