<ion-view view-title="Fleek" id="rate-user-view">  
    <ion-content>
        <div style="background-image:url('../img/app/background.jpg');text-align:center;color:white;">
        <div class="row" style="height:150px">
            <div class="col">
            <img  ng-src="img/app/home/neworder.jpg" style="position: static;
   border-radius: 50%;
    max-width: 120px;
    height: 120px;"  />
            </div>
        </div>
        <div class="row global-row-center">
            <div class="col">
              <p style="background:black;">
        "Maria Fernanda Colina"
                </p>
                El inca
            </div>
        </div>
        </div>    
 <ion-slide-box show-pager="false">
     <ion-slide>
    <div class="row  global-row-center">
        <div class="col">
            <p>
             <rating ng-model="rate"  max="max"></rating>
            </p>
            <p>
               Hora: 930
            </p>
            <p>
                  <textarea placeholder="Comments" ng-model="reservation.cancelationReason"></textarea>
            </p>
              <div class="button-bar">
  <a class="button button-assertive" ng-click="nextSlide()">Cancelar</a>
</div>
        </div>         
    </div>
    </ion-slide>
       <ion-slide>
    <div class="row global-row-center">
        <div class="col">
            <p>
              Recuerda que la cancelacion es final.
            </p>
            <p>
           <label class="item item-input">

  </label>
                
            </p>
            <p>
         Si necesitas mas informacion por favor llama a:
            
            </p>
            
        </div>         
    </div>
            <div class="button-bar">
                <a class="button button-assertive" ng-click="nextSlide(reservation)">Cancelar</a></div>
    </ion-slide>
    </ion-slide-box>
        
    </ion-content>

</ion-view>