<ion-view view-title="Fleek" id="rate-user-view">  
    <ion-content>
           <div class="global-profile-background">
        <div class="row global-row-profile-height-title">
            <div class="col">
            <img  facebook-usr-src="{{provider.user.facebookId}}"  class="global-profile-avatar"  />
            </div>
        </div>
        <div class="row">
            <div class="col">
            <div class="row global-row-center" >
            <div class="col">
              <p class="global-profile-black-panel">
      {{provider.user.name + " " + provider.user.lastname }}
                </p>
                {{provider.user.username}}
            </div>
        </div>
            </div>
        </div>
        </div>       
 <ion-slide-box show-pager="false">
     <ion-slide>
    <div class="row  global-row-center">
        <div class="col">
        <rating ng-model="rate"  max="5">
         </rating> 
              <div class="button-bar">
  <a class="button button-assertive" ng-click="nextSlide()">  {{"rateUser_continue" | translate}}</a>
</div>
        </div>         
    </div>
    </ion-slide>
       <ion-slide>
    <div class="row global-row-center">
        <div class="col">
            <p>
             {{"rateUser_observation" | translate}}
            </p>
            <p>
           <label class="item item-input">
<textarea placeholder="Comments" ng-model="reservation.cancelationReason"></textarea>
  </label>    
            </p>
         
            
        </div>         
    </div>
    <div class="button-bar">
    <a class="button button-assertive" ng-click="nextSlide(reservation)">  {{"rateUser_save" | translate}}</a></div>
    </ion-slide>
    </ion-slide-box>
        
    </ion-content>

</ion-view>