<ion-view view-title="Fleek" id="reservation-information-view">  
    <ion-content>
 <div class="global-profile-background">
        <div class="row global-row-profile-height-title">
            <div class="col">
           <img  facebook-usr-src="{{reservation.provider.facebookId}}"  class="global-profile-avatar"  />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row global-row-center">
            <div class="col">
            </div>
        </div><div class="row global-row-center">
            <div class="col">
                 <p style="background:black;">
            {{reservation.provider.name + " "+reservation.provider.lastname  }}
                </p>
              {{reservation.provider.username}}
            </div>
        </div>
            </div>
        </div>
        </div>    
 <ion-slide-box show-pager="false">
     <ion-slide>       
    <div class="row  global-row-center">
        <div class="col">
            <p>
               Confirmas tu cita
            </p>
                        <p>{{formatDate(reservation.date)}}</p>
    <p>{{reservation.startTime}}<p>
           
              <p>
                   <img id="map-static"   google-static-map-src="{{reservation}}"   />  
                   {{reservation.address}}
      
            </p>
              <div class="button-bar">
  <a class="button button-assertive" ng-click="nextSlide()">Cancelar</a>
</div>
        </div>         
    </div>
    </ion-slide>
       <ion-slide>
    <div class="row global-row-center">
        <div class="col">
            <p>
              Recuerda que la cancelacion es final.
            </p>
            <p>
           <label class="item item-input">
    <textarea placeholder="Comments" ng-model="reservation.cancelationReason"></textarea>
  </label>
                
            </p>
            <p>
         Si necesitas mas informacion por favor llama a:
            
            </p>
            
        </div>         
    </div>
            <div class="button-bar">
                <a class="button button-assertive" ng-click="nextSlide(reservation)">Cancelar</a></div>
    </ion-slide>
    </ion-slide-box>
        
    </ion-content>

</ion-view>