 <ion-view view-title="review" hide-nav-bar="true" id="review-view" cache-view="false">
<ion-content>        
    <div class="row">
        <div class="col" style="text-align:center">
            <h1>
                Fleek    
            </h1>
        </div>         
    </div>
         <ion-slide-box show-pager="false">
     <ion-slide>
    <div class="row">
        <div class="col">
            <p>
                {{"review_message" | translate}}
            </p>
        </div>         
    </div>
    </ion-slide>
      <ion-slide>
    <div class="row">
        <div class="col">
            <div class="list list-inset">
          <div >   
                <img id="review-view-profile-placeholder" ng-src="img/app/review-view-profile-placeholder.jpg">
        </div>
            
            <label class="item item-input">
                <input type="text" placeholder="{{'review_username' | translate}}">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'review_password' | translate}}">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'review_confirm_password' | translate}}">
            </label>   
            </div>
        </div> 
    </div>
    </ion-slide>
      <ion-slide>
    <div class="row row-center">
        <div class="col">
            <div class="list list-inset">
          <div >   
                <img id="review-view-profile-placeholder" ng-src="img/app/review-view-profile-placeholder.jpg">
        </div>
            <label class="item item-input">
                <input type="text" placeholder="{{'review_email' | translate}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="{{'review_firstname' | translate}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="{{'review_lastname' | translate}}">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="{{'review_age' | translate}}">
            </label>
                <label class="item item-input item-select">
    <div class="input-label">
    {{"review_gender" | translate}}
    </div>
    <select>
      <option>Male</option>
      <option selected>Female</option>
      <option>Red</option>
    </select>
  </label>
                
                
               
            </div>
        </div> 
    </div>
    </ion-slide>         
    </ion-slide-box>
</ion-content>
   <ion-footer-bar class="bar-dark">
        <button class="button button-block button-royal" ng-click=" nextSlide()">
                {{"review_save" | translate}}
            </button>

    </ion-footer-bar>  
</ion-view>   