<ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Services" icon="ion-calendar" ui-sref="tabs.fleekservicecategory">
          <ion-nav-view name="services-tab"></ion-nav-view>
    </ion-tab>

        <ion-tab title="Reservations" icon="ion-ios-information" ui-sref="tabs.reservation" >
            <ion-nav-view name="reservation-tab">
            
           
            </ion-nav-view>
        </ion-tab>

     <ion-tab title="Provider Reservation" icon="ion-ios-information" ui-sref="tabs.providerreservation" ng-show="$root.isProvider" >
            <ion-nav-view name="providerreservation-tab">
            
           
            </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Me" icon="ion-ios-person" ui-sref="tabs.profile" >
            <ion-nav-view name="profile-tab">
            
           
            </ion-nav-view>
        </ion-tab>

</ion-tabs>